<nav>
  <ul>
 <!-- <a onclick="ionicHistory.back()">  -->
<!-- <a ui-sref="category"> -->
 <!-- <img ng-click="myGoBack()" class="float_left"  src="Button_14_back-min.png" height="50"width="50"></img> -->
 <img class="float_right" src = 'Button_6_search-min.png' height="50" width="50">
 <img ui-sref="category" class="float_left"  src="Button_14_back-min.png" height="50"width="50"></img>
  <!-- <button class="button button-clear" ng-click="myGoBack()" ><img class="float_left" src="Button_14_back-min.png"height="50"width="50"></img></button> -->
 <center>
<p class="oblique">stories</p>
</center>
 </ul>
</nav>
