<ion-view class="category">
  <ion-content>
    <!-- <section class = "home-container">
      <div class="row icon-row">
        <div class="row row-center" > -->
        <div class="container">
  <div carousel3d ng-model="images" options="options">
    <div class="img-responsive" carousel3d-slide ng-repeat="x in images">
      <figure>

        <img ng-if="carousel3d.getCurrentIndex() === $index" ng-src='{{(x.src)}}'ui-sref='content({pid:x.pid,cid:x.cid})'alt="" />
          <img ng-if="carousel3d.getCurrentIndex() !== $index" ng-src="{{x.src}}" />
            </a>
          <figcaption><span style="color:white;font-weight:bold">{{x.caption}}</span></figcaption>

      </figure>
    </div>
  </div>
</div>
</ion-content>
<!-- </div>
</div>
</section> -->
</ion-view>
