<!--
*@FileName:category.html
*@CreatedBy:Habeeb
*@Date:
*@Purpose:To Displaying the categoryList
 -->
<ion-view class="category">
    <!-- ng-include is used to include another html file -->
  <div ng-include="'templates/header.html'"></div>
   <div ng-include="'templates/footer.html'"></div>
  <ion-content>
    <!-- Displaying the Carousel 3d view -->
        <div class="container1">
  <div carousel3d ng-model="images" options="options">
    <!-- ng-repeat is like for loop -->
    <div class="img-responsive" carousel3d-slide ng-repeat="x in images">
      <figure>

        <img ng-if="carousel3d.getCurrentIndex() === $index" ng-src='{{(x.src)}}'ui-sref='content({pid:x.pid,cid:x.cid,content_count:x.content_count})'alt="" />
          <img ng-if="carousel3d.getCurrentIndex() !== $index" ng-src="{{x.src}}" />
            </a>
            <!-- Displaying the Title -->
          <figcaption><span style="color:white;font-weight:bold">{{x.caption}}</span></figcaption>

      </figure>
    </div>
  </div>
</div>
</ion-content>
</ion-view>
