<!--
*@FileName:content.html
*@CreatedBy:Habeeb
*@Date:
*@Purpose:To Displaying the contentList
 -->
<ion-view class="content">
  <ion-content>
    <a ui-sref="Search"><img class="float_right" ng-src='images/Button_6_search-min.png' height="50" width="50"></a>
    <!-- <div ng-include="'templates/back.html'"></div> -->
    <img ng-click="myGoBack()" ng-src="images/Button_14_back-min.png" height="50" weight="50">
    <center>
      <p style="color:white;font-family:verdana;font-size:30px;">{{caption}}</p>
    </center>
    <ion-scroll direction="x" style="position:fixed:top:50px;overflow-y: hidden;">
    <!--<div class="container2">-->
      <center>  <ion-spinner class="a1"icon="android" ng-show="loading"></ion-spinner></center>
      <div class="outerbox">
        <!--<div>-->
        <!--<div class="row">-->
          <center>
            <div  style="display: inline-block " ng-repeat="x in result" class='img-responsive'>
            <a ui-sref='Video({url:x.dnld_url,pid:pcatid,cid:catid,content_count:content_count})'>
              <div class="card card-1 item-text-wrap">
              <a ui-sref='Video({url:x.dnld_url,pid:pcatid,cid:catid,content_count:content_count})'>
                  <center>
                  <img class="img" style='border-radius: 12%' ng-src='{{x.image_path}}' width="250" height="150" />
                   </center>
                  <span class="icon videoIcon playS"></span>
              </a>
              <p style="width:11em;">{{x.title}}</p>
              <span class="icon1 moreIcon"></span>
              <br>
              </div>
          </center>
          <!--</div>-->
        </div>
      </ion-scroll>
    <!--</div>-->
  </ion-content>
</ion-view>
