    <img class="float_right" ng-src='Button_6_search-min.png' height=50 width=50/>
    <img ng-click="myGoBack()" ng-src="Button_14_back-min.png" height="50" weight="50">
    <!-- <div class="search1"> -->
     <input class="img-responsive" type=text ng-model='textbox' name="search" placeholder="Enter your text here...">
<!-- </div> -->

     <div class="container6">
       <p class="p3">popular searches</p>
       <p></p><br>
      <ul>
        <button id="rcorners1"ng-click="ChangeKeyword('Rhymes')">
          <p class="btn3">Rhymes</p>
        </button>
        <button id="rcorners1"ng-click="ChangeKeyword('Drawing')">
          <p class="btn3">Drawing</p>
        </button>
        <button id="rcorners1"ng-click="ChangeKeyword('Counting')">
          <p class="btn3">Counting</p>
        </button>
        <button id="rcorners1"ng-click="ChangeKeyword('Numbers')">
          <p class="btn3">Numbers</p>
        </button>
        <!-- <button id="rcorners1">
          <p class="btn3">Drawing</p>
        </button>
        <button id="rcorners1">
          <p class="btn3">Stories</p>
        </button>
        <p></p>
        <button id="rcorners1">
          <p class="btn3">Colors</p>
        </button>
        <button id="rcorners1">
          <p class="btn3">Drawing</p>
        </button>
        <button id="rcorners1">
          <p class="btn3">Stories</p>
        </button> -->

      </ul>
     </div>
