<ion-view class="video">
  <div class="container">
         <center>
          <div class="video">
          <video id="myVideo" width="480" height="270" preload="auto" poster="loading.gif" controls autoplay>
           <source src="{{url}}" type="video/mp4" width="480" height="270"></source>
            <source src="video4.ogg" type="video/ogg"width="480" height="270"></source>
            <source src="video4.webm" type="video/webm"width="480" height="270"></source>
       </video>
     </div>
</center>
<br>
<div class = "container">
<center>
<div class="outerbox">
 <div class="row">
       <div class="span5" ng-click="changeVideo(x.dnld_url)" style="display: inline-block " ng-repeat="x in result" class='img-responsive'>
         <a>  <div class="card card-1">
                   <img class="img" style='border-radius: 10%;' ng-src='{{x.image_path}}' width="250"height="150" ui-sref='video({url:x.dnld_url,poster:x.image_path,pid:pcatid,cid:catid,content_count:x.content_count})'/>
                   <span class="icon videoIcon playS"></span>

               <p class="p1">{{x.title}}</p>
             </a>
               <br>
           </div>
       </div>
</div>
</div>
</center>
</div>
   <!-- <div class="btn pull-left">
       <!--pagination.prevpage method is used to go previous page  -->
       <!-- <button class="button button5" ng-click="pagination.prevPage()" ng-hide="pagination.page == 0" ng-click="pagination.prevPage()">Previous</button>
   </div>
   <div class="btn pull-right">
       <!-- pagination.nextpage method is used to go next page -->
       <!-- <button class="button button5" ng-click="pagination.nextPage()" ng-hide="pagination.page + 1 >= pagination.numPages" ng-click="pagination.nextPage()">Next</button>
   </div>
</div> -->
</ion-view>
